@page "/Lists"

<PageTitle>Lists</PageTitle>

<h2 class="border-bottom pt-3 pb-2 mb-3">Lists</h2>

<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <NavLink href="Lists/DeviceTypes">
                    Device Types
                </NavLink>             
            </div>            
        </div>        
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <NavLink href="Lists/Networks">
                    Networks
                </NavLink>
            </div>         
        </div>       
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <NavLink href="Lists/RmfPackages">
                    RMF Packages
                </NavLink>
            </div>
        </div>       
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <NavLink href="Lists/Manufacturers">
                    Manufacturers
                </NavLink>
            </div>
        </div>
    </li>
</ol>

@code {

}
