@page "/"
@inject IDeviceTypeData deviceTypeData

<PageTitle>Home</PageTitle>


<h2 class="border-bottom pt-3 pb-2 mb-3">Home</h2>
<div class="row">
    <div class="col-md-4 mb-4">
        <h4>Device Type Counts - Column</h4>
        <TelerikChart>
            <ChartSeriesItems>
                <ChartSeries Type="ChartSeriesType.Column" Data="@deviceTypeCounts">
                    <ChartSeriesTooltip Visible="true"></ChartSeriesTooltip>
                </ChartSeries>
   
            </ChartSeriesItems>

            <ChartCategoryAxes>
                <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
            </ChartCategoryAxes>
        </TelerikChart>

    </div>
    <div class="col-md-4 mb-4">
        <h4>Device Type Counts - Bar</h4>
        <TelerikChart>
            <ChartSeriesItems>
                <ChartSeries Type="ChartSeriesType.Bar" Data="@deviceTypeCounts">
                    <ChartSeriesTooltip Visible="true"></ChartSeriesTooltip>
                </ChartSeries>

            </ChartSeriesItems>

            <ChartCategoryAxes>
                <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
            </ChartCategoryAxes>

           
        </TelerikChart>
    </div>
    <div class="col-md-4 mb-4" style="height:400px; background-color:red;">
        TEST
    </div>
</div>



@code {
    private List<DeviceTypeCountsModel> deviceTypeCountsList;
    private List<Object> deviceTypeCounts = new List<Object>();
    private List<string> deviceTypesList = new List<string>();

    public string[] xAxisItems;

    protected override async Task OnInitializedAsync()
    {
        deviceTypeCountsList = await deviceTypeData.GetDeviceTypeCounts();


        foreach (var listItem in deviceTypeCountsList)
        {
            deviceTypeCounts.Add(listItem.Count);
            deviceTypesList.Add(listItem.TypeName);
        }

        xAxisItems = deviceTypesList.ToArray();
    }

}