@using BlazorApp.Services;
@inject IJSRuntime JSRuntime
@inject BannerService BannerSvc

@if (showBanner)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="banner text-center bg-light p-5 rounded shadow" style="width:800px;">
            <h1 class="fw-bold mb-4">ITAMS</h1>
            <div class="alert alert-warning" role="alert">
                <p class="fs-5">
                    You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.
                </p>
                <hr>
                <p class="fs-6">
                    By using this IS (which includes any device attached to this IS), you consent to the following conditions:
                </p>
                <ul class="text-start fs-6">
                    <li>The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law enforcement (LE), and counterintelligence (CI) investigations.</li>
                    <li>At any time, the USG may inspect and seize data stored on this IS.</li>
                    <li>Communications using, or data stored on, this IS are not private, are subject to routine monitoring, interception, and search, and may be disclosed or used for any USG-authorized purpose.</li>
                    <li>This IS includes security measures (e.g., authentication and access controls) to protect USG interests—not for your personal benefit or privacy.</li>
                    <li>Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or monitoring of the content of privileged communications, or work product, related to personal representation or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work product are private and confidential. See User Agreement for details.</li>
                </ul>
            </div>
            <button @onclick="HandleOkClick" class="btn btn-primary mt-3">OK</button>
        </div>
    </div>
}

@code {
    private bool showBanner = true;
    private bool firstRender = true;

    private async Task HandleOkClick()
    {
        await JSRuntime.InvokeVoidAsync("setCookie", "ITAMSbannerShown", "true", 1);
        BannerSvc.HideBanner();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Check if the cookie is already set
            var bannerShown = await JSRuntime.InvokeAsync<string>("getCookie", "ITAMSbannerShown");

            if (!string.IsNullOrEmpty(bannerShown) && bannerShown == "true")
            {
                BannerSvc.HideBanner();
            }

            this.firstRender = false;
        }
    }
}