@layout TelerikLayout
@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>


        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

*@

<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 col-xl-2 me-0 px-3" href="/">ITAMS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse col-md-3 col-lg-2 col-xl-2">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">                 
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Devices" >
                        <span class="oi oi-laptop" aria-hidden="true"></span> Devices
                        </NavLink>
                    </li>  
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Software">
                            <span class="oi oi-laptop" aria-hidden="true"></span> Software
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="StorageDrives">
                            <span class="oi oi-laptop" aria-hidden="true"></span> Storage Drives
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ACASIpDeltas">
                            <span class="oi oi-laptop" aria-hidden="true"></span> ACAS IP Deltas
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Lists">
                            <span class="oi oi-laptop" aria-hidden="true"></span> Lists
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Reports">
                            <span class="oi oi-laptop" aria-hidden="true"></span> Reports
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Admin">
                            <span class="oi oi-laptop" aria-hidden="true"></span> Administration
                        </NavLink>
                    </li>
                </ul>

                
                
            </div>
        </nav>

        <main class="ms-sm-auto px-md-4 col-md-9 col-lg-10 col-xl-10">
            @Body      
        </main>
    </div>
</div>